#nav,img{
    width:100%;
    height:60px;
}
#course,#place,#contact1{
    border-radius:20px;
    box-shadow:2px 3px 3px grey;
}
#image1,#image2,#image3,#image4,#image5{
    width:30%;
    height:120px;
}
#d1{
    position: relative;
  
    bottom:50px;
}
#full-stack{
    background-image: url("https://lh3.googleusercontent.com/proxy/OvNdgMMl3GIHA0Lpwczd11Yopt2th_BJVUnJS1XZRI6ipwBWLJG7Ly9YG1ZiyQGXz0Esxc5GptbAv3Fm78u2fPo8PS5u9VvFQBQyaD9LoVrUVY2hrH92WpiTyXjX6a8ZIpE7LjlEFE9SDsVBdZgchWYzEg");
}